<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>


<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>


<div class="container">
    <h1>전체 회원 관리</h1>
    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">등급</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">가입일자</th>
            <th scope="col">수정 및 게시글 확인</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="user,i : ${allUsers}">
                <th scope="row" th:text="${i.count}">1</th>
                <td th:text="${user.getRole()}">USER</td>
                <td th:text="${user.getUsername()}">test</td>
                <td th:text="${user.getEmail()}">test@test</td>
                <td th:text="${user.getCreateDate()}">2022-01-01</td>
                <td><a th:href="@{/admin/manage/member/{id}(id=${user.id})}">링크</a></td>
            </tr>
        </tbody>
    </table>

</div>


<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>
</html>