<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>


<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>


<div class="container">
    <h1>어드민 페이지</h1>
    <hr/>

    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">전체 회원</h4>
            <strong>전체 회원을 관리할 수 있는 페이지 입니다.</strong><br/><br/>
            <a href="/admin/manage/member" class="btn btn-primary">상세보기</a>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">방문 통계</h4>
            <strong>방문 통계를 관리할 수 있는 페이지 입니다.</strong><br/><br/>
            <a href="/admin/manage/visit" class="btn btn-primary">상세보기</a>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">인기글 통계</h4>
            <strong>조회수 기준 인기글을 볼 수 있는 페이지 입니다.</strong><br/><br/>
            <a href="/admin/manage/popular" class="btn btn-primary">상세보기</a>
        </div>
    </div>
</div>
</div>


<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>
</html>