<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">sosow0212</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">


            <!--   로그인 유저 페이지 -->
            <div sec:authorize="isAuthenticated()">
                <!--    관리자 페이지        -->
                <div sec:authorize="hasRole('ADMIN')">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/admin">어드민페이지</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                카테고리
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/">전체 글 보기</a>
                                <a class="dropdown-item" href="/daily">일상</a>
                                <a class="dropdown-item" href="/date">데이트</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/board/saveForm">글쓰기</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/myBoard">작성글</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                    </ul>
                </div>

                <!--    일반 유저 페이지        -->
                <div sec:authorize="hasRole('USER')">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                카테고리
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/">전체 글 보기</a>
                                <a class="dropdown-item" href="/daily">일상</a>
                                <a class="dropdown-item" href="/date">데이트</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/board/saveForm">글쓰기</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/myBoard">작성글</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>


            <!--  비 로그인 페이지  -->
            <div sec:authorize="isAnonymous()">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/auth/loginForm">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/joinForm">회원가입</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </nav>
    <br/>
</div>

</html>