<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>


<div class="container">

    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <button id="btn-update" class="btn btn-primary">수정</button>
    <button id="btn-delete" class="btn btn-danger">삭제</button>
    <br/><br/>


    <div>
        글번호 : <span th:id="id"><i th:text="${board.id}"></i></span>
        작성자 : <span><i th:text="${board.getUser().getUsername()}"></i></span>
    </div>
    <br/>


    <div class="form-group">
        <h3 th:text="${board.title}"></h3>
    </div>
    <hr>


    <!--   th:utext 를 사용해야 DB안에 html태그까지 모두 적용함    -->
    <div class="form-group">
        <div th:utext="${board.content}"></div>
    </div>
    <hr>
</div>


<script src="/js/board.js"></script>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>