<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
</sec:authorize>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>


<div class="container">
    <div class="text-center mb-3">
        <br/>
        <h3 th:text="|${user.getUsername()} 님의 작성글 입니다.|">ㅇㅇㅇ 님의 작성글입니다.</h3>
        <br/>
    </div>

    <div class="card m-2" th:each="board : ${boards}">
        <div class="card-body">
            <h4 class="card-title" th:text="${board.getTitle()}">제목</h4>
            <strong th:text="|작성자 : ${board.getUser().getUsername()}|">작성자 : ㅇㅇ</strong>
            <p th:text="|작성날짜 : ${board.createDate}|"></p>
            <p th:text="|조회수 : ${board.getCount()}|">조회수 : 3</p>
            <a th:href="@{/board/{id}(id=${board.getId()})}" class="btn btn-primary">상세보기</a>
        </div>
    </div>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>
</html>