<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<sec:authorize access="isAuthenticated()">
  <sec:authentication property="principal" var="principal" />
</sec:authorize>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>


<div class="container">
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-title">제목</h4>
      <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>
</div>


<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>
</html>